<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div id="left_div">
	<div class="box">
		<h2>Shift types</h2>
	
		<ul>
			<li><a href="#">Manage shift types</a></li>
			<li><a href="#">Add new shift type</a></li>
		</ul>
	</div>
</div>

<div id="left_div">
	<div class="box">
		<h2>Users</h2>
		
		<ul>
			<li><a href="#">Manage users</a></li>
			<li><a href="#">Add new user</a></li>
		</ul>
	</div>
</div>

<div id="left_div">
	<div class="box">
		<h2>Tickets</h2>
	
		<ul>
			<li><a href="#">Manage tickets</a></li>
			<li><a href="#">Add new tickets</a></li>
			<li><a href="#">Reports</a></li>
		</ul>
	</div>
</div>

<div id="left_div">
	<div class="box">
		<h2>Certifications</h2>
	
		<ul>
			<li><a href="#">Manage certifications</a></li>
			<li><a href="#">Add new certification</a></li>
		</ul>
	</div>
</div>

