<% content_for :title, I18n.t("titles.shifts_calendar") %>
<% days = {monday: "mandag", tuesday:"tirsdag", wednesday:"onsdag", thursday:"torsdag", friday:"fredag", saturday:"lørdag", sunday:"søndag"} %>
<input type="text" id="filter_search" />



<div style="float:right;">
  <a href="#" id="calendar_view">Calendar</a>
  <a href="#" id="list_view">List</a>
</div>
<script type="text/javascript">
  $("#calendar_view").click(function(){
    datasource.output = new CalendarView($("#calendar"), datasource.start, datasource.stop);
    datasource.fetch();
  });
  $("#list_view").click(function(){
    datasource.output = new ListView($("#calendar"), datasource.start, datasource.stop);
    datasource.fetch();
  });






</script>



<div style="float:right;margin-right:100px;">
  <a href="#" id="template">Templates</a>
</div>

<script type="text/javascript">

$("#template").click(function(){
  var d = $("<div>");
  d.css({top:$(this).offset().top, left:$(this).offset().left, position:'absolute', width:200, background:'white', border:'1px solid black', padding:20});
  d.html("<a href='#'>Apply template xxxx</a><br /><a href='#'>Apply template xxx</a>");
  $(document.body).append(d);


  d.mouseout(
    function(event){
      if(d[0] != event.toElement && d.has(event.toElement).length == 0)
        $(this).remove()
    });
});
</script>


<div id="show_filter">+</div>
<div id="filters" class="hidden"></div>



<div id="picker"></div>
<div id="calendar">

</div>

<script type="text/javascript">

</script>
<style type="text/css">
#calendar .shift
{
  position:absolute;
}
#calendar
{
  position:relative;
  height:1000px;
  width:100%;
  overflow:hidden;
}
.dayline
{

  border-left:1px solid gray;
  position:absolute;
  top:0px;
  bottom:0px;
  /*width:0px;*/
}
.hourline
{
  border-top:1px solid gray;
  position:absolute;
  height:0px;
  left:0px;
  right:0px;
}

.halfhourline
{
  border-top:1px dashed gray;
  position:absolute;
  height:0px;
  left:0px;
  right:0px;
}

.shift .content
{
  overflow:hidden;
  margin:1px;
  padding:4px;
  background-color:rgb(230,230,230);
  border-radius:2px;

  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;

  border-left:2px solid #93B300;
  border-right: 1px solid gray;
}
/*
.shift:hover
{
  
  z-index:101;
}

.shift:hover .content
{
  width: 200px;
}
*/
.ui-resizable-n
{
  height:15px;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
}

.ui-resizable-s
{
  height:15px;
  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
}
.ui-selected .content
{
  background-color:rgb(200,240,240) !important;
}

.ui-selecting .content
{
  background-color:rgb(240,200,240) !important;
}

.ui-selectable-helper
{
  border:1px dashed grey;
  position:absolute;
}


#filters.hidden .picker
{
  display:none;
}

#filters.hidden .picker.selected
{
  display:block !important;
}

#filters.hidden .option.selected{ display:block !important;}
#filters.hidden .option{display:none;}

</style>
<%= link_to 'New shift', new_shift_path %>

<script type="text/javascript">

$(function(){
  $(".pickType").live('click', function(event)
  {
    var x = $(".pickType.picked")
    var id = x.attr('shift_type');
    cv.filter({'shift_type':id});
  });


});
(function($){
    $.fn.disableSelection = function() {
        return this
                 .attr('unselectable', 'on')
                 .css('user-select', 'none')
                 .on('selectstart', false);
    };

    $("#calendar").disableSelection()
})(jQuery);

    function resized(event, ui)
    {
      var e = $(this);
      
      var s = e.data('shift');
      if(ui.position.top != ui.originalPosition.top)
      {
        var t = cv.offsetToTime(ui.position.left / $("#calendar").width() * 100, ui.position.top / $("#calendar").height() * 100);
      
        s.start = t;
      }
      else
      {

        var t = cv.offsetToTime(ui.position.left / $("#calendar").width() * 100, (ui.position.top + ui.size.height) / $("#calendar").height() * 100);
        s.end = t;
      }

      cv.refresh();
      makeEditable()
      changed(s)
    }

    function moved(event, ui)
    {
      var e = $(this);
      var s = e.data('shift');

      var t = cv.offsetToTime(ui.position.left  / $("#calendar").width() * 100, ui.position.top / $("#calendar").height() * 100);
      
      var diff = t.valueOf() - s.start.valueOf();


      s.start = new Date(s.start.valueOf() + diff);
      s.end = new Date(s.end.valueOf() + diff);

      cv.refresh();
      makeEditable()
      changed(s);
    }

    function changed(shift)
    {
      var start = getISODateTime(shift.start);
      var end = getISODateTime(shift.end);
      $.post('/shifts/' + shift.id +".json" , {'_method':'put', 'shift[start]':start, 'shift[end]':end}, function(e){


        //alert(e);
      });
    }

    function makeEditable()
    {
      
      $(".shift").not(".ui-draggable").draggable(
          {
          grid: [100/7, 1000/24/4],
          stop: moved
          });

      $(".shift").not(".ui-resizable").resizable(
        {
          handles: "n, s",
          grid: [10, 1000/24/4],
          stop: resized
         });

    }

var cv = false;

var datasource = undefined;
$(function(){
  var s = new Date();
  s.setHours(0);

  s = new Date().moveToDayOfWeek(1, -1);
  s.setHours(0)
 
  var e = new Date(s.getTime()).add(7).days();


  datasource = new DataSource(s, e);

  if(window.innerWidth <= 800)
  {
    datasource.output = new ListView($("#calendar"), s, e);
  }
  else
    datasource.output = new CalendarView($("#calendar"), s, e);

  new WeekPicker($("#picker"), s, e, datasource);
  datasource.fetch()

  //cv.fetch();
  //cv.refresh();

  makeEditable();
  //$( "#calendar").selectable({'filter':'.shift'});
  
   
  
  new FilterList($("#filters"), "Shift types", "shift_type", <%= @shifttypes.to_json.html_safe %>, datasource, true);
  new FilterList($("#filters"), "Taken", "taken", {0:'Taken', 1:'Available'}, datasource);
  
  <% if @user %>

  new FilterList($("#filters"), "User", "user_id", {<%= @user.id %>:"<%= @user.username %>"}, datasource);
  <% end %>


  $("#show_filter").click(function(e)
  {
      $("#filters").toggleClass('hidden');
    if($("#filters").hasClass("hidden"))
    {
      $(this).text("+");
    }else
    {
      $(this).text("-");

    }
  });
  $("#filter_search").keyup(function(e)
  {
    var value = this.value.trim();
    value = value.split(/\s+/);
    var filter = Array()
    var username = Array();

    for(var i = 0; i < value.length; i++) 
    {
      if(Date.parse(value[i]))
      {
        cv.setTime(Date.parse(value[i]));
      }
      else if(value[i] != "")
        filter.push( value[i] + ".*");
    }


    $(".selected").removeClass("selected");
    
    if(filter.length > 0)
    {
        filter = new RegExp("(^" + filter.join("|^") + ")", "i");

        var e = function(){
          if(this.innerText.match(filter))
          {
            $(this).addClass("selected");
            }
        }
        $(".option").each(e);
    }
    $(".picker").each(function(){
      $(this).data("FilterList").updateFilter();
    });


  });
  
  $("#calendar").mousedown(function(e){
    p = e.srcElement;
    while(p != this && !$(p).hasClass("shift"))
      p = p.parentNode;
    if(p != this) return;
    e.preventDefault();
    return 1;
    
  });

  //window.setInterval(function(){cv.update();makeEditable()}, 5000);
})
</script>
<div id="changes"></div>

<script id="shift" type="text/html">
<div class="shift {{ shift_type.title }}">
  <a href="/shifts/{{id}}">
  <div class="content">
    <div>{{ start_time }}</div>
    <div>

    {{shift_type.title}}
    {{user.username}}
    </div>
    <div>{{ end_time }}</div>
  </div>
  </a>
</div>
</script>
