<% content_for :title, I18n.t("titles.shifts_calendar") %>
<% days = {monday: "mandag", tuesday:"tirsdag", wednesday:"onsdag", thursday:"torsdag", friday:"fredag", saturday:"lørdag", sunday:"søndag"} %>

<div id="calendar">

</div>


<style type="text/css">
#calendar .shift
{
  position:absolute;
}
#calendar
{
  position:relative;
  height:1000px;
  width:100%;
  overflow:hidden;
}
.dayline
{

  border-left:1px solid gray;
  position:absolute;
  top:0px;
  bottom:0px;
  width:0px;
}
.hourline
{
  border-top:1px solid gray;
  position:absolute;
  height:0px;
  left:0px;
  right:0px;
}

.halfhourline
{
  border-top:1px dashed gray;
  position:absolute;
  height:0px;
  left:0px;
  right:0px;
}

.shift .content
{
  overflow:hidden;
  margin:1px;
  padding:4px;
  background-color:rgb(200,200,200);
  border-radius:5px;

  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;

  border-left:2px solid red;
  border-right: 1px solid gray;
}

.ui-resizable-n
{
  height:15px;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
}

.ui-resizable-s
{
  height:15px;
  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
}
.ui-selected .content
{
  background-color:rgb(200,240,240) !important;
}

.ui-selecting .content
{
  background-color:rgb(240,200,240) !important;
}

.ui-selectable-helper
{
  border:1px dashed grey;
  position:absolute;
}
</style>
<%= link_to 'New shift', new_shift_path %>

<script type="text/javascript">

    function resized(event, ui)
    {
      var e = $(this);
      
      var s = e.data('shift');
      if(ui.position.top != ui.originalPosition.top)
      {
        var t = cv.offsetToTime(ui.position.left / $("#calendar").width() * 100, ui.position.top / $("#calendar").height() * 100);
      
        s.start = t;
      }
      else
      {

        var t = cv.offsetToTime(ui.position.left / $("#calendar").width() * 100, (ui.position.top + ui.size.height) / $("#calendar").height() * 100);
        s.end = t;
      }

      cv.refresh();
      makeEditable()
      changed(s)
    }

    function moved(event, ui)
    {
      var e = $(this);
      var s = e.data('shift');

      var t = cv.offsetToTime(ui.position.left / $("#calendar").width() * 100, ui.position.top / $("#calendar").height() * 100);
      
      var diff = t.valueOf() - s.start.valueOf();


      s.start = new Date(s.start.valueOf() + diff);
      s.end = new Date(s.end.valueOf() + diff);

      cv.refresh();
      makeEditable()
      changed(s);
    }

    function changed(shift)
    {
      var start = getISODateTime(shift.start);
      var end = getISODateTime(shift.end);
      $.post('/shifts/' + shift.id +".json" , {'_method':'put', 'shift[start]':start, 'shift[end]':end}, function(e){


        //alert(e);
      });
    }

    function makeEditable()
    {
      
      $(".shift").not(".ui-draggable").draggable(
          {// axis: "y",
          grid: [100/7, 1000/24/4],
          stop: moved,
          distance: 40 });

      $(".shift").not(".ui-resizable").resizable(
        {
          handles: "n, s",
          grid: [10, 1000/24/4],
          stop: resized
         });

    }
    

var cv = new CalendarView("lol",1,2);

$(function(){
  makeDayGrid();
  makeHourGrid();
  makeHalfHourGrid();

  cv.fetch();
  cv.refresh();

  makeEditable();
  //$( "#calendar").selectable({'filter':'.shift'});

  $("#calendar").mousedown(function(e){
    p = e.srcElement;
    while(p != this && !$(p).hasClass("shift"))
      p = p.parentNode;
    if(p != this) return;
    e.preventDefault();
    return 1;
    
  });

  window.setInterval(function(){cv.update();makeEditable()}, 5000);
})
</script>
<div id="changes"></div>

<script id="shift" type="text/html">
<div class="shift">
  <div class="content">
    <div>

    <div>{{test}}</div>
    {{shift_type.title}}
    {{user.username}}
    </div>
    <div>{{id}} - {{index}}/{{columns}}</div>
    <div>{{start}}</div>
    <div>{{end}}</div>
  </div>
</div>
</script>
