<h1>Listing shifts</h1>

<table id="shifts-table">
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Training</th>
    <th>Leasing</th>
    <th>Task</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Shift</a>