/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


/* ======================================================== */
/*	Created by Devit Schizoper 								*/
/*	Created HomePages http://LoadFoo.starzonewebhost.com	*/
/*	Created Day 01.12.2006 									*/
/* ======================================================== */


body {
	margin: 0px;
	background: url(top_bg.gif);
	background-repeat: repeat-x;
	font-family: Verdana, Arial, sans-serif;
    font-size: .8em;
	color: #373737;
}

p {
	line-height: 17px;
	margin: 11px 0 10px 0;
	padding: 0px;
}

h2 {
	color: #9f9f9f;
	margin:0px;
	padding:0px;
	font-size: 15px;
}

ul {
	font-size: 10px;
	margin:0;
	padding:0;
	list-style-image: url(bullet.gif);
}

a {
	color: #93B300;
}

a:hover {
	text-decoration: none;
}

blockquote{
	background: #F7FDE3;
	color: #606060;
	padding: 10px;
}


/**** Main Container ***/


#wrap {
       margin-left: auto;
       margin-right: auto;
       width: 1000px;
}


/**** Top ***/


#top {
	width: 100%;
	height: 88px;
	color: #fff;
	background: #000 url(top_bg.gif);
	overflow:hidden;
}

#top h2 {
	color: White;
	letter-spacing: 3px;
	font-size: 2.4em;
	font-weight: normal;
	position: relative;
	margin: 0px;
	top:33px;
	display:block;
	float:left;
	background: url(bg_t.gif) no-repeat;
	padding-left: 10px;
}

#top h2 a {
	color: white;
	text-decoration: none;
}

#top h2 a:hover {
        color: #93B300;
}


/**** Main Menu ***/


#menu {
	display: block;
	float:right;
}

#menu ul {
	margin: 0;
	list-style: none;
}

#menu li {
	display: block;
	float: left;
	white-space: nowrap;
}

#menu li a {
	display: block;
	padding: 55px 20px 0px 20px;
	height: 26px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

* html #menu a {width:1%;}

#menu li a:hover {
	background: url(bg_menu.gif) 0 0 fixed repeat;
}

#menu li a.current {
	letter-spacing: 1px;
	color: gray;
	background: url(bg_menu.gif) 0 0 fixed repeat;
}

#menu li a.current:hover {
	color: #fff;
}


/**** Content Container ***/


#content {
	width: 100%;
	margin-top:10px;
}

#content h2 {
	margin: 0;
	padding: 10px 0 10px 0;
}


/**** Content ***/


#left ul {
	padding: 15px 0 15px 35px;
	margin:0;
}

#left li {
	margin-bottom:5px;
}

#left {
	width: 390px;
	float:left;
	display: block;
    margin-left: 20px;
	display: inline;
}


/**** Sidebar ***/


#right { 
	float: right;
	display:block;
	margin-top: 0px;
}

#left_div { 
	float: left;
	display:block;
	margin-top: 0px;
	margin-right: 20px;
}

.right { 
	float: right;
	display:block;
	margin-top: 0px;
}

.left_div { 
	float: left;
	display:block;
	margin-top: 0px;
	margin-right: 20px;
}

.box {
	width: 20em;/*280px*/
	background: #F6F9FB;
	border: 1px solid #E1E1E1;
	padding:0px 15px 15px 15px;
	margin-bottom: 10px;
}

.box h2 {
	font-size: 1.1em;
	margin: 0px 0 0px 0;
	padding:0px 0 5px 0;
}

.box a {
	margin: 10px 0 10px 0;
	color: #93B300;
	font-size: 12px;
}

.box p {
	margin: 5px 0 10px 0;
	line-height: 15px;
}

.box ul {
	padding: 0 0 7px 20px;
	margin:10px 0 10px 0;
}

.box li {
	margin-top:5px;
}

#nav{ list-style: none; margin: 0.0em 0; width: 25em; float: right;}
#nav li{ padding: 0; margin: 0; }
#nav a{
	display: block;
	height: 2.0em;
	padding: 0.5em 0.3em 0.2em 0.8em;
	border-bottom: 2px; /*solid #1a1a1a*/
	border-top: 2px; /*solid #1a1a1a*/
	color: #93B300;
	background-color: #F7F9FB;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	}

#nav a:hover{
	color: #1a1a1a;
	background: url(bg_t.gif) no-repeat;
	background-color: #fff;
	font-weight: bold;
	}	

/**** Clear Div ***/


#clear {
	display: block;
	clear: both;
	width: 100%;
	height:1px;
	overflow:hidden;
}


/**** Footer ***/


#footer {
    margin: 40px auto 0 auto;
	text-align: center;
	border-top: dotted 1px gray;
	padding: 20px 0 20px 0;
	width: 1000px;
}

#footer p {
	margin: 0px;
	padding: 0;
}

.red_text{
	color: #990005;
}


/*
 * A simple popup.
 */
#popup {
  width:100%; height:100%; top:0; bottom:0; right:0; left:0; position:fixed; display:none;
}

#popup_background {
  background:rgba(0,0,0,.5);
  width:100%; height:100%;
}

.popup_content {
  background:rgba(255,255,255,1); top:0; bottom:0; right:0; left:0; width:50%; height:50%; margin:auto; position:fixed; font-size:13px;
}

