#showAvailable a {
	color: #669;
	background-color: #FFF;
}

#showAvailable a:hover {
	color: #669;
	text-decoration: none;
	background-color: #FFF;
}

table#availableShifts{
	width: 90%;
	margin-top: 20px;
	font: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #373737;
}

#availableShifts td{
	width: 85px;
	padding: 6px 8px;
	border-bottom: 1px solid #ccc;
	color: #000;
}

#availableShifts th{
	width: 85px;
	text-align: left;
	padding: 8px;
	border-bottom: 2px solid #779300;
	font-size: 16px;
	font-weight: 500;
	color: #3E4C00;
}

#availableShifts tr:hover td {
	color: #3E4C00;
}

.pickType {
	width: 120px;
	float: left;
	margin: 10px 5px 10px 0px;
	font-size: 15px;
	background-color: #ccc;
	padding: 2px;
	cursor: pointer;
	text-align: center;
	color: #373737;
	-moz-border-radius: 15px;
	border-radius: 5px;
}

.picked {
	background-color: #93B300;
}