#showAvailable a {
	color: #669;
	background-color: #FFF;
}

#showAvailable a:hover {
	color: #669;
	text-decoration: none;
	background-color: #FFF;
}

table#availableShifts{
	width: 90%;
	margin-top: 20px;
	font: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #373737;
}

#availableShifts td{
	width: 85px;
	padding: 6px 8px;
	border-bottom: 1px solid #ccc;
	color: #000;
}

#availableShifts th{
	width: 85px;
	text-align: left;
	padding: 8px;
	border-bottom: 2px solid #779300;
	font-size: 16px;
	font-weight: 500;
	color: #3E4C00;
}

#availableShifts tr:hover td {
	color: #3E4C00;
}

.pickType {
	width: 120px;
	float: left;
	margin: 10px 5px 10px 0px;
	font-size: 15px;
	background-color: #ccc;
	padding: 2px;
	cursor: pointer;
	text-align: center;
	color: #373737;
	-moz-border-radius: 15px;
	border-radius: 5px;
}

.picked {
	background-color: #93B300;
}

h3{
	font-size: 18px;
	color: #779300;
	text-transform: uppercase;
	margin-top: 0px;
	padding-top: 2px;
	margin-bottom: 5px;
}

#show_shift {
	width: 180px;
	min-height: 310px;
	padding: 10px;
	margin: 0px 15px 10px 0px;
	border: 1px solid #ccc;
	-moz-border-radius: 15px;
	border-radius: 5px;
	float: left;
}

#show_shift p{
	margin: 5px 0px 0px 0px;
}

.green {
		color: #779300;
}

.green_button{
	width: 120px;
	margin: 8px 0px 10px 0px;
	font-size: 15px;
	background-color:  #93B300;
	padding: 2px;
	cursor: pointer;
	text-align: center;
	color: #373737;
	-moz-border-radius: 15px;
	border-radius: 5px;
}

.green_button:hover{
	background-color:  #ccc;
}


