
#calendar .shift
{
  position:absolute;
}
#calendar
{
  position:relative;
  height:1000px;
  width:100%;
  overflow:hidden;
}
.dayline
{

  border-left:1px solid gray;
  position:absolute;
  top:0px;
  bottom:0px;
  /*width:0px;*/
}
.hourline
{
  border-top:1px solid gray;
  position:absolute;
  height:0px;
  left:0px;
  right:0px;
}

.halfhourline
{
  border-top:1px dashed gray;
  position:absolute;
  height:0px;
  left:0px;
  right:0px;
}

.shift .content
{
  overflow:hidden;
  margin:1px;
  padding:4px;
  background-color:rgb(230,230,230);
  border-radius:2px;

  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;

  border-left:2px solid #93B300;
  border-right: 1px solid gray;
}
/*
.shift:hover
{
  
  z-index:101;
}

.shift:hover .content
{
  width: 200px;
}
*/
.ui-resizable-n
{
  height:15px;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
}

.ui-resizable-s
{
  height:15px;
  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
}
.ui-selected .content
{
  background-color:rgb(200,240,240) !important;
}

.ui-selecting .content
{
  background-color:rgb(240,200,240) !important;
}

.ui-selectable-helper
{
  border:1px dashed grey;
  position:absolute;
}



#filters.hidden .option.selected{ display:block !important;}
#filters.hidden .option{display:none;}
