// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_search {
  border:1px solid #E1E1E1; width:100%; box-sizing:border-box; background:white; padding:8px 6px; font-size:12px;

  &:focus {
    outline:none; border:1px solid #C1C1C1;
  }
}
